body{
	cursor:none;
user-select:none;
-webkit-user-select:none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-drag:none;
-khtml-user-drag:none;
}

div#container{
	position:absolute;
	top:0px;
	left:0px;
	background-color: #ccc;
	overflow: hidden;
}
div.div-mame{
	position:absolute;
	width:40px;
	height:40px;
	background-repeat: no-repeat;
	transform-origin:50% 50%;
}

div.hashi{
	position:absolute;
	width:362px;
	height:206px;
	background-image: url("../images/hashi_25.png");
	background-repeat: no-repeat;
	z-index: 99999;
}

div.mame1{
	user-select: none;
	background-image: url("../images/mame1-s.png");
	z-index: 1;
}
div.mame2{
	user-select: none;
	background-image: url("../images/mame2-s.png");
	z-index: 1;
}
div.mame3{
	user-select: none;
	background-image: url("../images/mame3-s.png");
	z-index: 1;
}

div.div-sara{
	position:absolute;
	width:360px;
	height:360px;
	background-repeat: no-repeat;
	background-image: url("../images/sara.png");
	z-index: 0;

}